name: Release

on:
  release:
    types: [created]

env:
  REGISTRY: docker.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-test:
    uses: eclipse-ecsp/.github/.github/workflows/workflow-nodejs-build.yml@nodejs
    with:
      node-version: '18'
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 

  license-check:
    uses: eclipse-ecsp/.github/.github/workflows/workflow-nodejs-licence-analysis.yml@nodejs
    needs: build-and-test
    with:
      node-version: '18'
      java-version: '17'
      create-review: false
  
  extract-version:
    needs: license-check
    uses: eclipse-ecsp/.github/.github/workflows/workflow-nodejs-extract-version.yml@nodejs
    with:
      node-version: '18'
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}      
      
  docker-push:
    needs: [build-and-test, license-check, extract-version]
    uses: eclipse-ecsp/.github/.github/workflows/workflow-nodejs-docker-push.yml@nodejs
    with:
      image-tag: ${{ needs.extract-version.outputs.version }}
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_API_TOKEN: ${{ secrets.DOCKER_API_TOKEN }}
